<div style="margin-left: 10px;">
    <nav style="margin-left:2cm;" class=" mt-3 navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <h3 class="text-center">TODO LIST APP</h3>



    <div style="margin-left: 6cm; margin-top:1cm">
        <app-todo-add (todoAdd)="addTodo($event)"></app-todo-add>

        <h4 class="mt-4 mb-3" style="text-decoration: underline;">YOUR TODOS</h4>
        <div *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheck)="checkTodo($event)"></app-todo-item>
        </div>
    </div>

</div>