<div style="margin-left: -12px;" class="container">
    <h4 style="text-decoration: underline;"> ADD A TODO </h4>
    <div>

        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="title" name="title" id="title" 
                    placeholder="Enter Title">
            </div>
            <div class="mt-2 form-group">
                <input type="text" class="form-control" [(ngModel)]="desc" name="desc" id="desc" placeholder="Enter Description">
            </div>
            <button type="submit" class="mt-4 btn-sm btn btn-primary">Submit</button>
        </form>
    </div>
</div>